/********** IMPORTS **********/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


/********** VARIABLES **********/

:root {

/* Colors */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-bg-dark-blue: hsl(217, 54%, 11%);
  --card-bg-dark-blue: hsl(216, 50%, 16%);
  --line-dark-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);


/* Font Family, Sizing and Weights */
  --main-font: 'Outfit', sans-serif;
  --font-size: 18px;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 600;
}


/********** BOX SIZING and GLOBAL STYLES**********/

html {
  box-sizing: border-box;
  font-size: var(--font-size);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  height: 100vh;
  font-family: var(--main-font);
  font-weight: var(--fw-normal);
  background-color: var(--main-bg-dark-blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.main-content-container {
  height: 30.166667rem;
  width: 18.166667rem;
  background-color: var(--card-bg-dark-blue);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
  border-radius: 0.833333rem;
  padding: 1.333333rem 1.388889rem 1.333333rem 1.333333rem;
}


.image-container-background {
  background-color: var(--cyan);
  border-radius: 00.444444rem;
  
}


.main-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/image-equilibrium.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 15.444444rem;
  width: 15.444444rem;
  margin: 0;
  padding: 0;
  border-radius: 0.444444rem;
}


.active-eye-image {
  height: 2.666667rem;
  width: 2.666667rem;
  background-image: url('../images/icon-view.svg');
  z-index: 1;
  display: none;
}


.main-headline {
  font-size: 1.222222rem;
  font-weight: var(--fw-bold);
  line-height: 1.54rem;
  margin-top: 1.333333rem;
}


.main-copy {
  font-weight: var(--fw-light);
  line-height: 1.444444rem;
  color: var(--soft-blue);
  margin-top: 0.666667rem;
}


.pricing-info-container {
  height: 1.055556rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.888889rem;
  padding: 0;
}

.pricing-info-container h2 {
  font-size: 0.833333rem;
  line-height: 1.05rem;
}


/* Pricing Info Container shared styles */
.price-container,
.time-remaining-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.price-container {
  width: 4.915556rem;
}


.ether-img {
  height: 1rem;
  width: 0.611111rem;
  background-image: url('../images/icon-ethereum.svg');
}


.pricing-copy {
  font-weight: var(--fw-bold);
  color: var(--cyan);
}


.time-remaining-container {
  width: 5.149444rem;
}


.clock-img {
  height: 0.888889rem;
  width: 0.888889rem;
  background-image: url('../images/icon-clock.svg');
}


.time-remaining-copy {
  color: var(--soft-blue);
}


.blue-line {
  border-top: 1px solid var(--line-dark-blue);
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin-top: 0.888889rem;
  margin-bottom: 0.888889rem;
}


.credit-container {
  height: 1.833333rem;
  width: 12.166667rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}


.avatar-img {
  height: 1.833333rem;
  width: 1.833333rem;
}


.credit-container-copy {
  font-size: 0.833333rem;
  line-height: 1.05rem;
}


.blue-credit-copy {
  color: var(--soft-blue);
}


/********** MEDIA QUERIES **********/


/* Desktop */
@media screen and (min-width: 415px) {
  

  .main-content-container {
    height: 33.111111rem;
    width: 19.444444rem;
  }


  .main-image-container {
    height: 16.777778rem;
    width: 16.777778rem;
  }


  .main-copy {
    margin-top: 0.888889rem;
  }

  .pricing-info-container {
    height: 1.111111rem;
    margin-top: 1.333333rem;
  }


  .pricing-info-container h2 {
    font-size: 0.888889rem;
    line-height: 1.12rem;
  }

  .price-container {
    width: 5.193333rem;
  }


  .time-remaining-container {
    width: 5.372222rem;
  }


  .blue-line {
    margin-top: 1.333333rem;
  }


  .credit-container {
    width: 12.777778rem;
  }


  /* ACTIVE STATES */
  .main-image-container:hover {
    cursor: pointer;
    opacity: 50%;
  }


  .main-headline:hover,
  .credit-container-copy:hover {
    cursor: pointer;
    color: var(--cyan);
  }

}